.card-design{
     border-radius: 20px;
}
.fixednav{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
  
}

.inline{
  display: inline-block;
}
.small{
  width: 100px;
  border-radius: 20px;
}

.body{
  margin: 0px;
  padding: 0px
}

.topDist{
  position: absolute;
  top:100px;
}


@media  (max-width: 1000px) {
  
    .topDist{
      position: absolute;
       top:"500px"
    }
  
}

